.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 5px 15px;
    max-width: 1230px;
    border-bottom: 1px solid #e0dfde;
}

.header__logo {
    color: #8b7969;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    font-family: "Cambria";
    text-align: center;
    margin: 0 auto;
}

body {
    color: #8b7969;
    font-family: "Cambria";
}