.contact-form__content {
    font-size: 15px;
    margin: 0 auto;
    padding: 5px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    font-size: 25px;
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form__label--required {
    margin-left: 5px;
    padding: 4px 6px;
    border-radius: 3px;
    background: #fff;
    color: #ff0000;
}

.form__label--show {
    margin-left: 5px;
    padding: 4px 6px;
    border-radius: 3px;
    background: #fff;
    color: #ff0000;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--radios {
    transform: scale(1.05);
    margin: 0 420px 0 0;
    accent-color: #8b7969;
}

.form__input--text input,
.form__input--textarea textarea {
    padding: 10px;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    background: #f4f4f4;

    appearance: none;
}

.form__input--text input[type="name"] {
    width: 300px;
    height: 40px;
}

.form__input--text input[type="text"],
.form__input--text input[type="email"] {
    width: 600px;
    height: 40px;
}

.form__input--text input[type="tel"] {
    width: 192px;
    height: 40px;
}

.form__input--select input::placeholder {
    color: gray;
}

.form__input--select select {
    text-align: left;
    padding: 10px;
    margin: 0 443px 0 0;
    border: 1px solid #f4f4f4;
    color: gray;
    background-color: #f4f4f4;

    /*矢印の変更は擬似要素を使用　今回は時間がないため割愛
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;*/
}


.form__input--textarea textarea {
    width: 600px;
    height: 180px;
    font-family: "Cambria";
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #8b7969;
    color: #fff;
    cursor: pointer;
}